<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>

<link rel="stylesheet" href="/stylesheets/css/main.css"/>
<link rel="stylesheet" href="/stylesheets/css/reset.css"/>
<script type="text/javascript" src="/javascripts/js/myfocus-2.0.1.min.js"></script>
<script type="text/javascript">
//设置
myFocus.set({
	id:'myFocus',//ID
	pattern:'mF_fancy'//风格
});
</script>
</head>

<body>
<div class="header">
	<div class="top cen">
    	<div class="_left"><a href="#">收藏网站</a></div>
        <div class="_right">欢迎来到商城<a href="#">[登录]</a><a href="#">[免费注册]</a></div>
    </div><!-- 头部第一部分结束 -->
    <div class="logo cl">
      <div class="cen">
    	<div class="logo_img fl">
        	<a href="#"><img src="images/img/logo_1.jpg" alt=""/></a>
        </div>
        <div class="search fl">
                <input type="text" id="i_text"/><input type="button" value="搜索" id="i_btn"/>
             </div>
        </div>
        <div class="car fl">
        	<div class="car_l fl"> <span>购物车</span></div>
            <div class="car_r fl"><span>0</span><img alt=".." src="images/img/car.jpg"</div>
        </div>
      </div>  <!-- 头部第二部分结束 -->   
    </div>
    <div class="cl bottom">
    	<div class="cen">
              <div class="nav fl"><a href="#">全部商品分类 
              <span><img alt="" src="images/img/sj.jpg"/><span>
              	<ul class="nav_l">
                	<li>
                    	<h3>
                        	<a href="#">手机 </a><a href="#"> 数码 </a><a href="#"> <span>合约机</span></a>
                            <span><img src="images/img/mo.jpg" alt=""/></span>
                        </h3>
                        <p><a href="#">荣耀3X </a><a href="#"> 单反 </a><a href="#"> 智能设备 </a></p>
                    </li>
                    
                    
                    
                    <li id="nav_l">
                    	<h3>
                        	<a href="#">手机 </a><a href="#"> 数码 </a><a href="#"> <span>合约机</span></a>
                            <span><img src="images/img/mo.jpg" alt=""/></span>
                        </h3>
                        <p><a href="#">荣耀3X </a><a href="#"> 单反 </a><a href="#"> 智能设备 </a></p>
                    </li>
                    
                    
                    <li>
                    	<h3>
                        	<a href="#">手机 </a><a href="#"> 数码 </a><a href="#"> <span>合约机</span></a>
                            <span><img src="images/img/mo.jpg" alt=""/></span>
                        </h3>
                        <p><a href="#">荣耀3X </a><a href="#"> 单反 </a><a href="#"> 智能设备 </a></p>
                    </li>
                    
                    
                    <li>
                    	<h3>
                        	<a href="#">手机 </a><a href="#"> 数码 </a><a href="#"> <span>合约机</span></a>
                            <span><img src="images/img/mo.jpg" alt=""/></span>
                        </h3>
                        <p><a href="#">荣耀3X </a><a href="#"> 单反 </a><a href="#"> 智能设备 </a></p>
                    </li>
                    <li>
                    	<h3>
                        	<a href="#">手机 </a><a href="#"> 数码 </a><a href="#"> <span>合约机</span></a>
                            <span><img src="images/img/mo.jpg" alt=""/></span>
                        </h3>
                        <p><a href="#">荣耀3X </a><a href="#"> 单反 </a><a href="#"> 智能设备 </a></p>
                    </li>
                </ul><!--左侧的导航-->
              </a>
              </div>
              <ul class="nav_bar">
              	<li><a href="#">数码城</a></li>
                <li><a href="#">天黑黑</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">二手特卖</a></li>
                <li><a href="#">名品会</a></li>
            
              </ul><!--中间的导航-->
        </div>
    </div><!-- 头部第三部分结束 -->

</div>

<div class="container cl cen">
	<div class="content fl">
    	<ul class="c_c cl">
        	<li>
            	<span class="sp_l">电脑整机</span>
                  <span class="sp_r">
                  <a href="#">笔记本</a><a href="#">平板电脑</a><a href="#">台式机</a><a href="#">超极本</a>
                  </span>
            </li>
            <li class="cl">
            <span class="sp_l">装机配件</span>
            <span class="sp_r">
            <a href="#">CPU</a><a href="#">硬盘</a><a href="#">SSD固态硬盘</a><a href="#">内存</a><a href="#">显示</a><a href="#">器智能显示器</a><a href="#">主板</a><a href="#">CPU</a><a href="#">显卡</a><a href="#">机箱</a><a href="#">电源</a><a href="#">散热器</a><a href="#">刻录机/光驱</a><a href="#">声卡</a>
            </span>
            </li>
            <li class="cl"><span class="sp_l">整机附件</span>
            <span class="sp_r"><a href="#">电脑包</a><a href="#">电脑桌</a><a href="#">电源适配器</a><a href="#">清洁用品</a><a href="#">笔记本散热器</a><a href="#">USB拓展</a><a href="#">电脑线材</a><a href="#">特色附件</a>
            </span>
            </li>
           <li class="cl"><span class="sp_l">整机附件</span>
            <span class="sp_r"><a href="#">电脑包</a><a href="#">电脑桌</a><a href="#">电源适配器</a><a href="#">清洁用品</a><a href="#">笔记本散热器</a><a href="#">USB拓展</a><a href="#">电脑线材</a><a href="#">特色附件</a>
            </span>
            </li>
            <li>
            	<span class="sp_l">电脑整机</span>
                  <span class="sp_r">
                  <a href="#">笔记本</a><a href="#">平板电脑</a><a href="#">台式机</a><a href="#">超极本</a>
                  </span>
            </li>
            <li>
            	<span class="sp_l">电脑整机</span>
                  <span class="sp_r">
                  <a href="#">笔记本</a><a href="#">平板电脑</a><a href="#">台式机</a><a href="#">超极本</a>
                  </span>
            </li>
        </ul>			<!--c_c-->
        <div class="c_bo cl">
        <span><a href="#">电脑整机频道</a><img alt="" src="images/img/mo.jpg"/></span>
        <span><a href="#">硬件/外设频道</a><img alt="" src="images/img/mo.jpg"/></span>
        </div>
    	
    </div>
    <div class="box fr">
    	<div id="myFocus"><!--焦点图盒子-->
  <div class="loading"><img src="images/img/loading.gif" alt="请稍候..." /></div><!--载入画面-->
  <div class="pic"><!--图片列表-->
  	<ul>
        <li><a href="#1"><img src="images/img/bar/bar1.jpg" thumb="" alt=""/></a></li>
        <li><a href="#2"><img src="images/img/bar/bar2.jpg" thumb="" alt=""></a> </li>
        <li><a href="#3"><img src="images/img/bar/bar3.jpg" thumb="" alt="" /></a></li>
  	</ul>
  </div>
</div>			<!--轮播图-->
    </div>
    <div class="c_l fl"><img src="images/img/jiad.jpg"></div>
</div>


<div class="list cl cen">
	<div class="l_l fl"><a href="#"><img alt="" src="images/img/l_l.jpg"/></a></div>
    <div class="l_r fr">
    	<div class="l_r_t">
        	<div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
        </div>
        <div class="l_r_b">
        	<div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
        </div>
    </div>
</div>    <!-- 第一个详情-->
<div class="list cl cen">
	<div class="l_l fl"><a href="#"><img alt="" src="images/img/l_l.jpg"/></a></div>
    <div class="l_r fr">
    	<div class="l_r_t">
        	<div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/htc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>1899元</p>
            </div>
        </div>
        <div class="l_r_b">
        	<div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/pad.jpg"/></div>
                <h3>全网低价 Apple苹果iPad mini1列</h3>
                <p>￥1888.00</p>
            </div>
        </div>
    </div>
</div>		<!-- 第二个详情-->
<div class="cl cen"><img alt="" src="images/img/jius.jpg"/></div>
<div class="list cl cen">
	<div class="l_l fl"><a href="#"><img alt="" src="images/img/lg.jpg"/></a></div>
    <div class="l_r fr">
    	<div class="l_r_t">
        	<div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
        </div>
        <div class="l_r_b">
        	<div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60片</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60片</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60片</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60片</h3>
                <p>￥600.00</p>
            </div>
        </div>
    </div>
</div>		<!-- 第三个详情-->
<div class="list cl cen">
	<div class="l_l fl"><a href="#"><img alt="" src="images/img/lg.jpg"/></a></div>
    <div class="l_r fr">
    	<div class="l_r_t">
        	<div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>HTC新渴望8系列</h3>
                <p>50元</p>
            </div>
            <div class="s_t">
            	<div><img alt="" src="images/img/qc.jpg"/></div>
                <h3>三月美食狂享购</h3>
                <p>50元</p>
            </div>
        </div>
        <div class="l_r_b">
        	<div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60片</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60</h3>
                <p>￥600.00</p>
            </div>
            <div class="s_b">
            	<div><img alt="" src="images/img/yp.jpg"/></div>
                <h3>康比特 维他保咀嚼片 60</h3>
                <p>￥600.00</p>
            </div>
        </div>
    </div>
</div>		<!-- 第四个详情-->

<div class="cl"></div>
<div class="footer">
	<div class="f_t">
    	<div> <a href="#"> 简 介 |</a><a href="#"> 公 告 |</a><a href="#">  招 纳 贤 士 |</a><a href="#"> 联 系 我 们 |</a> 客服热线：400-675-1234</div>
        <p>Copyright © 2015 - ?  HY 所有   京ICP备09037834号   京ICP证B1034-8373号   某市公安局XX分局备案编号：123456789123</p>
    </div>
    <div class="f_b">
    	<img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/>
    </div>
</div>
</body>
</html>