<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<% include head %>
</head>

<body>
<div class="header">
	<div class="top cen">
    	<div class="_left"><a href="#">收藏网站</a></div>
        <div class="_right">欢迎来到商城<a href="#">[登录]</a><a href="#">[免费注册]</a></div>
    </div><!-- 头部第一部分结束 -->
    <div class="logo cl">
      <div class="cen">
    	<div class="logo_img fl">
        	<a href="#"><img src="images/img/logo_1.jpg" alt=""/></a>
        </div>
        <div class="search fl">
                <input type="text" id="i_text"/><input type="button" value="搜索" id="i_btn"/>
             </div>
        </div>
        <div class="car fl">
        	<div class="car_l fl"> <span>购物车</span></div>
            <div class="car_r fl"><span>0</span><img alt=".." src="images/img/car.jpg"</div>
        </div>
      </div>  <!-- 头部第二部分结束 -->   
    </div>
    <div class="cl bottom">
    	<div class="cen">
              <div class="nav fl"><a href="#">全部商品分类 
              <span><img alt="" src="images/img/sj.jpg"/><span>
              
              </div>
              <ul class="nav_bar">
              	<li><a href="#">数码城</a></li>
                <li><a href="#">天黑黑</a></li>
                <li><a href="#">团购</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">二手特卖</a></li>
                <li><a href="#">名品会</a></li>
            
              </ul><!--中间的导航-->
        </div>
    </div><!-- 头部第三部分结束 -->

</div>

<div class="cen cl list">
	<ul class="list_left fl">
    	<li><span class="list_left_head">手机、相册、数码</span></li>
        <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a><a href="#">对讲机</a><a href="#">联通专区</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a><a href="#">对讲机</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a><a href="#">对讲机</a><a href="#">联通专区</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a><a href="#">对讲机</a><a href="#">联通专区</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a></dd>
        </dl></li>
         <li><dl class="list_left_d">
        	<dt class="list_left_title">手机通讯</dt>
            <dd class="list_left_detail"><a href="#">全部手机</a><a href="#">1080P高清</a><a href="#">双卡手机</a><a href="#">拍照神器</a><a href="#">老年手机</a></dd>
        </dl></li>
    </ul>
    <div class="fr list_right">
    	<div class="list_right_top"><img alt="" src="images/img/bar/lBar.jpg"></div>
        <div class="list_right_bottom">
        	<h3>数码影像</h3> 
            
            
            <div class="goods_detail">
            	<div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
            </div>
        </div>
        <div class="list_right_bottom">
        	<h3>娱乐影音</h3> 
            
            
            <div class="goods_detail">
            	<div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/yyd.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/if.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/yyd.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/if.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/sony.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
                <div class="list_right_goods fl">
            	
                	<div class="goods_img"><a href="#"><img  alt="" src="images/img/jneng.jpg"></a></div>
                    
                    <p><a href="#">Canon 佳能 IXUS132数码相机 粉色(1600像素 2.7''LCD)</a></p>
                    <span>￥699.00</span>
                    <div class="goods_discus">评论:<span><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"><img alt="" src="images/img/1_06.jpg"></span>(<a href="#">79条</a>)</div>    
				</div>
            </div>
        </div>
  
    </div>
</div>

<div class="cl"></div>
<div class="footer">
	<div class="f_t">
    	<div> <a href="#"> 简 介 |</a><a href="#"> 公 告 |</a><a href="#">  招 纳 贤 士 |</a><a href="#"> 联 系 我 们 |</a> 客服热线：400-675-1234</div>
        <p>Copyright © 2015 - ?  HY 所有   京ICP备09037834号   京ICP证B1034-8373号   某市公安局XX分局备案编号：123456789123</p>
    </div>
    <div class="f_b">
    	<img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/><img alt="" src="images/img/yewei.jpg"/>
    </div>
</div>
</body>
</html>