@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; border:none; }
a{ text-decoration:none;}
body{ min-width:1000px}
li{ list-style:none;}


.cen{ width:1000px; margin:0 auto;}
.cl{ clear:both}
.fl{ float:left}
.fr{ float:right}